Background_Removal/Diffusion/im24/snr24/ 
Background_Removal/Diffusion/im24/bkgd24/
Background_Removal/Diffusion/im70/snr70/ 
Background_Removal/Diffusion/im70/bkgd70/
Background_Removal/Diffusion/im70/imgs/

Background_Removal/Diffusion/im24/

Background_Removal/Diffusion/im70/

SED_Fitting/Sols/
